############ 知识图谱操作 #############
OPENAI_API_KEY = # OpenAI API Key
NEO4J_BROSWER_URL = # Neo4j 浏览器 URL
######################################

########### Chat Agent 配置 ###########
CHAT_BASE_URL = # 聊天模型接口地址
CHAT_MODEL = # 聊天模型名称
CHAT_API_KEY = # 聊天模型 API Key

GRAPH_BASE_URL = # 图谱模型接口地址
GRAPH_MODEL = # 图谱模型名称
GRAPH_API_KEY = # 图谱模型 API Key

NEO4J_URL = # Neo4j 连接 URL
NEO4J_USERNAME = # Neo4j 用户名
NEO4J_PASSWORD = # Neo4j 密码
NEO4J_DATABASE = # Neo4j 数据库名称
#######################################